.photo-container {
    display: flex;
    flex-direction: row;
    max-width: 700px;
    overflow-x: scroll;
    gap: 20px;
}

.photo-container > img {
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 700px) {
    .photo-container {
        max-width: initial;
        flex-direction: column;
    }
}